<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Pet Owners</title>
</head>
<body>

<!--    /*thymesVar id="owner" type="com.lavalliere.daniel.spring.petclinic.model.Owner"*/-->
<h1 th:text="'List of Pet Owners'">Owners <List></List></h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="owner : ${owners}">
            <th th:text="${owner.id}">1</th>
            <th th:text="${owner.firstName}">Daniel</th>
            <th th:text="${owner.lastName}">Lavalliere</th>
        </tr>
    </tbody>
</table>
</body>
</html>