<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of vets</title>
</head>
<body>

<!--    /*thymesVar id="owner" type="com.lavalliere.daniel.spring.petclinic.model.Vet"*/-->
<h1 th:text="'List of Vets'">Vets</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets}">
        <th th:text="${vet.id}">1</th>
        <th th:text="${vet.firstName}">Pauline</th>
        <th th:text="${vet.lastName}">Venditti</th>
    </tr>
    </tbody>
</table>

</body>
</html>